*{
	--logo-orange: #ff9a2f ;
	--logo-green: #059948;
	--logo-blue: #000089;
	--logo-white: #f2f2f2;
	--logo-v: #0a8901;
	--logo-nv:#ff0000 ;
}

/*
<a href="https://www.flaticon.com/free-icons/hamburger" title="hamburger icons">Hamburger icons created by Lizel Arina - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by Freepik - Flaticon</a>
*/